@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Inter:wght@300;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}

.text-gradient {
  background: linear-gradient(180deg, #0D1164 0%, #326BBC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
